@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1> 
        <div class="row">
            <div class="col-6">
                <a class="btn" asp-area="" asp-page="/Chat/Index">Go To Chat</a>
            </div>

            <div class="col-6">
                <a class="btn" asp-area="" asp-page="/Scoreboard/Index">Go To Scoreboar</a>
            </div>
        </div>
    </div>