@page
    <div class="container">
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-6">
                <input type="button" id="refreshButton" value="Refresh" class="btn" />
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <hr />
            </div>
        </div>
        <table class="table table-striped table-dark" id="scoreboar">
            <thead>
                <tr>
                    <th scope="col">Rank</th>
                    <th scope="col">Recipe Name </th>
                    <th scope="col">Score</th>
                </tr>
            </thead>
            <tbody id="tbody">
                <tr>
                    <th scope="row">Rank</th>
                    <td>Name</td>
                    <td>Score</td>
                </tr>
            </tbody>
        </table>
    </div>
 
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/scoreboar.js"></script>